#
name:
latitude:
longitude:
timezone:
#
domain:
api_password:
alarm_control_code:
#
iot_interface:
#
google_assistant_project:
google_assistant_client_id:
google_assistant_access_token:
google_assistant_agent_user_id:
google_assistant_api_key:
#
gcm_api_key:
gcm_sender_id:
duck_access_token:
fb_page_access_token:
#
xiaomi_mac:
xiaomi_ip:
xiaomi_key:
#
ir_blaster_mac:
ir_blaster_ip:
#
mqtt_broker_host:
#
ifttt_key:
#
sp3mini2_1_ip:
sp3mini2_1_mac:
#
sp3mini2_fan_ip:
sp3mini2_fan_mac:
#
broadlink_rm2_ip:
broadlink_rm2_mac:
#
tplink_fish_switch_ip:
tp_lb_kitchen_daylight_ip:
tp_lb_hallway_ip:
yee_dining_ip:
yee_kitchen_ip:
yee_lounge_ip:
yee_lounge_extra_ip:
#
player_roku_ip:
player_cast_lounge_ip:
player_cast_kitchen_ip:
#
fb_verify_token:
#
logger:
